@model Roundtable.Contracts.Presenter.IPresenter

<div class="col-md-4">
    <div class="pull-left" style="margin: 0 10px 10px 0">
        <img src="@Url.Content("~/content/images/person.gif")"/>
    </div>
    @Model.FirstName @Model.LastName
    <div style="clear: both;"></div>
</div>